<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="TheBucketList8.TheBucketList8" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<permission android:name="android.permission.INTERNET" />
	<application android:theme="@android:style/Theme.NoTitleBar" android:icon="@drawable/checked" android:label="The Bucket List"></application>
</manifest>